@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
}
.main_screen{
  background-color: #09283E;
  height: 100vh;
  width: 100vw;
}
.blur-background{
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background-color: #09283E;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.screen1{
  background-color: #09283E;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nr-5g{
  height: 20vh;
  width: 90vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nr-5g .info-5g{
  background-color: #2C5274;
  height: 100%;
  width: 72vw;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nr-5g .info-5g .logo{
  height: 100%;
  width: 8vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(./assets/removebg.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.nr-5g .info-5g .connect{
  height: 6vh;
  width: 9vw;
  border-radius: 5px;
  color: #4A609A;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.nr-5g .info-5g .info{
  background-color: #628EB5;
  height: 15vh;
  width: 45vw;
  border-radius:5px;
}
.nr-5g .set-hotspot{
  height: 100%;
  width: 16vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nr-5g .set-hotspot .settings{
  background-color: #2C5274;
  height: 11vh;
  width: 11vh;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.nr-5g .set-hotspot .hotspot{
  background-color: #2C5274;
  height: 11vh;
  width: 11vh;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.wifi-nodes{
  background-color: #2C5274;
  box-sizing: border-box;
  padding: 8px;
  height: 29vh;
  width: 90vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.wifi-nodes .txt-rem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wifi-nodes .txt-rem .txt{
  color: white;
  font-family: 'Ubuntu',sans-serif;
  font-weight: bold;
  user-select: none;
}
.wifi-nodes .txt-rem .rem{
  background-color: #628EB5;
  border-radius: 4px;
  height: 5.5vh;
  width: 8.5vw;
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Ubuntu',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.wifi-nodes .nodes-divider{
  margin-top: 2px;
  height: 16vh;
  width: 88vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.lora-nodes{
  background-color: #2C5274;
  box-sizing: border-box;
  padding: 8px;
  height: 29vh;
  width: 90vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.lora-nodes .txt-rem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lora-nodes .txt-rem .txt{
  color: white;
  font-family: 'Ubuntu',sans-serif;
  font-weight: bold;
  user-select: none;
}
.lora-nodes .txt-rem .rem{
  background-color: #628EB5;
  border-radius: 4px;
  height: 5.5vh;
  width: 8.5vw;
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Ubuntu',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.lora-nodes .nodes-divider{
  margin-top: 2px;
  height: 16vh;
  width: 88vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

